/* GENERAL */
body {
  background: #F9FBEF;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#container {
  width: 450px;
  padding: 20px;
  border: 2px solid #AFC841;
  border-radius: 25px;
  background: #F9FBEF;

  display: flex;
  flex-direction: column;
  gap: 20px; /* clean spacing between sections */
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
}

.close {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/* TABS */
.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  flex: 1;
  padding: 10px;
  border-radius: 25px;
  font-family: 'Geologica';
  cursor: pointer;
  border: none;
  background: #e0edc5;
  font-size: 18px;
}

.tab.active {
  background: #AFC841;
}

/* TIMER */
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  background: #ffffff;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 28px;
  width: 180px;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.time:focus {
  outline: 2px solid #AFC841;
}

#lockIn {
  background: #AFC841;
  border: none;
  font-family: 'Geologica';
  padding: 12px 25px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* WHITELIST */
.whitelist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-header {
  background: #EAF1CB;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  background: #F1F6DD;
  padding: 10px;
  border-radius: 15px;
}

.box {
  height: 120px;
  background: white;
  border-radius: 15px;
}

/* TODO LIST */
.todos {
  background: #EAF1CB;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#edit {
  background: #AFC841;
  border-radius: 15px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}

#todoList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#todoList li {
  padding: 10px;
  background: white;
  border-radius: 15px;
}

/* STATS */
.stats {
  background: #EAF1CB;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
