body {
    background-color: transparent;
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

#container {
    width: 305px;
    padding: 20px;
    padding-bottom: 15px;
    border: 2px solid #AFC841;
    border-radius: 25px;
    background: #F9FBEF;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 150px;
}

/* TABS */
.tabs {
    display: flex;
    gap: 10px;
    background: #EAF1CB;
    padding: 10px;
    border-radius: 25px;
}

.tab {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Geologica';
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 18px;
    transition: background 0.2s ease;
}

.tab.active {
    background: #AFC841;
}

.tab:hover:not(.active) {
    background: rgba(175, 200, 65, 0.3);
}

.close {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

/* .container {
    width: 330px;
    padding: 20px;
    padding-bottom: 15px;
    border: 2px solid #AFC841;
    border-radius: 25px;
    background: #F9FBEF;

    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .active {
    background: #bada55;
}

.timer {
    margin-top: 15px;
}

.time {
    font-size: 28px;
    text-align: center;
}

.whitelist,
.todos,
.stats {
    margin-top: 20px;
    background: #e8f3cd;
    padding: 10px;
    border-radius: 8px;
}

.friends-section {
    padding: 15px;
    border-radius: 15px;
    margin: 5px 0;
}

.green-section {
    background: #EAF1CB;
}

.red-section {
    background: #f2c6c6;
}

h2 {
    margin-top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.07);
    padding: 6px;
    border-radius: 12px;
}

ol {
    font-size: 18px;
    padding-left: 25px;
}

hr {
    color: #bada55;
}

#lockedInBtn {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

#friendsBtn {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

#MostLockedHeader {
    background-color: #AFC841;
}

#NaughtyListHeader {
    background-color: #b94b48;
}